<div class="col">
    <h6 class="mt-3 font-weight-bold">POPULAR TAGS</h6>
</div>
<div class="col">
  <div class="row">
    <div class="col-6"><small><a class="text-light" href="">Horror</a></small></div>
    <div class="col-6"><small><a class="text-light" href="">Multiplayer</a></small></div>  
    <div class="col-6"><small><a class="text-light" href="">Platformer</a></small></div>
    <div class="col-6"><small><a class="text-light" href="">Simulation</a></small></div>  
    <div class="col-6"><small><a class="text-light" href="">Roguelike</a></small></div>
    <div class="col-6"><small><a class="text-light" href="">Pixel art</a></small></div>  
    <div class="col-6"><small><a class="text-light" href="">HTML5</a></small></div>
    <div class="col-6"><small><a class="text-light" href="">Visual novels</a></small></div>
  </div>
</div>

<div class="col">
    <h6 class="mt-3 font-weight-bold">POPULAR TAGS</h6>
</div>
<div class="col">
  <div class="row">
    <div class="col-6"><small><a class="text-light" href="">On sale</a></small></div>
    <div class="col-6"><small><a class="text-light" href="">Free games</a></small></div>  
    <div class="col-6"><small><a class="text-light" href="">With demo</a></small></div>
    <div class="col-6"><small><a class="text-light" href="">Top sellers</a></small></div>  
    <div class="col-6"><small><a class="text-light" href="">$5 or less</a></small></div>
    <div class="col-6"><small><a class="text-light" href="">$15 or less</a></small></div>
  </div>
</div>
