<div class="card form-register">
    <h5 class="card-header pt-4 pb-4 font-weight-bold">Create an account on chicha.io</h5>
    <div class="card-body">
      <div class="row text-justify">
          <div class="col-6 pl-4 pr-4">
              <form>                      
                  <h6>Username</h6>            
                  <input type="text" id="inputEmail" class="form-control" placeholder="" required="" autofocus="">
                  <h6 class="mt-4">Password</h6>            
                  <input type="password" id="inputPassword" class="form-control" placeholder="" required="">
                  <h6 class="mt-4">Repeat password</h6>            
                  <input type="password" id="inputPassword" class="form-control" placeholder="" required="">
                  <h6 class="mt-4">Your email address</h6>            
                  <input type="email" id="inputEmail" class="form-control" placeholder="" required="" autofocus="">
      
                  <div class="form-check mt-4">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Sign me up for the bi-monthly chicha.io digest newsletter</label>
                  </div>
      
                  <div class="form-check mt-4">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">I accept the <a>Terms of Service</a></label>
                  </div>

                  <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Create account</button>
              </form>
          </div>
          
          <div class="col-6 pl-4 pr-4">
              <h5 class="mt-3">Who should register on chicha.io?</h5>
              <small>chicha.io was originally created for independent video games but hosts a wide range of creative digital content. If you’re buying something an account is optional, but recommended.</small>
              
              <h5 class="mt-3">I want to play games!</h5>              
              <small>Although registration isn’t required, creating an account will give you the ability to create collections of your favorites and soon to be favorites. If you’ve bought anything on chicha.io you can even link those purchases to your account to keep track of them.</small>
              
              <h5 class="mt-3">I’m a developer/creator!</h5>              
              <small>Great! chicha.io is designed for creative types of all kinds to quickly distribute their work easily as possible. If you’re selling your content you can start right away. An account also lets you submit games to the various game jams hosted on chicha.io.</small>
              
          </div>
        </div>
        
    </div>
  </div>